<%= form_with model: @recipe, local: true  do |form| %>
  <div class="field">
    <%= form.label :title, class: 'label' %>
    <div class="control">
      <%= form.text_field :title, class: "input", placeholder: "Title" %>
    </div>
  </div>

  <div class="field">
    <%= form.label :description, class: 'label' %>
    <div class="control">
      <%= form.text_area :description, class: "input", placeholder: "Description..." %>
    </div>
  </div>

  <label class="label">Instructions</label>
  <ul class="instructions_list">
    <%= form.fields_for :Instructions do |instructions_field| %>
      <% if local_assigns[:edit] %>
        <%= render 'instructions/form', instructions_field: instructions_field, edit: true %>
      <% else %>
        <%= render 'instructions/form', instructions_field: instructions_field %>
      <% end %>
    <% end %>
  </ul>
  <div class="field">
    <div class="control has-icons-left has-icons-right" style="margin-top:5%;">
      <div class="input" id="addInstruction">Add</div>
      <span class="icon is-small is-left">
        <i class="fa fa-plus"></i>
      </span>
    </div>
  </div>

  <label class="label">Ingridients</label>
  <%=form.fields_for :ingridients do |ingridients_field| %>
    <ul class="ingridients_list">
      <% if local_assigns[:edit] %>
        <%= render 'ingridients/form', ingridients_field: ingridients_field, edit: true %>
      <% else %>
        <%= render 'ingridients/form', ingridients_field: ingridients_field %>
      <% end %>
    </ul>
  <% end %>
  <div class="field">
    <div class="control has-icons-left has-icons-right" style="margin-top:5%;">
      <div class="input" id="addIngridients">Add</div>
      <span class="icon is-small is-left">
        <i class="fa fa-plus"></i>
      </span>
    </div>
  </div>
  <div class="field is-grouped">
    <div class="control">
      <% if local_assigns[:edit] %>
        <%= form.submit 'Update Recipe', class: 'button is-dark' %>
      <% else %>
        <%= form.submit 'Create Recipe', class: 'button is-dark' %>
      <% end %>
    </div>
    <div class="control">
      <%= link_to 'Cancel', recipes_path, class: 'button is-light' %>
    </div>
  </div>
<% end %> 