<div class="column is-6 is-offset-3">
  <div class="card">
    <header class="card-header-tittle">
      <p class="card-header-title">
        <%= recipe.title %>
      </p>
    </header>
    <div class="card-content">
      <div class="content">
        <u>
          <div><strong>Description: </strong><%= recipe.description %></div>
          <br>
          <h5>Instructions: </h5>
          <div class="recipe__fields">
            <% recipe.instructions.sort_by(&:order).each do |ins| %>
              <p><%= "#{ins.order}. #{ins.instruction_info}" %></p>
            <% end %>
          </div>
          <br>
          <h5>Igridients: </h5>
          <div class="recipe__fields">
            <% recipe.ingridients.each do |ing| %>
              <p><%= ing.name %></p>
            <% end %>
          </div>
        </u>
        <br>
        <br>
        <time datetime="2016-1-1"><%= recipe.created_at.strftime("%B %d %Y, %l:%M%P") %></time>
      </div>
    </div>
    <footer class="card-footer">
      <% if local_assigns[:show] %>
        <%= link_to 'Go back', recipes_path, class: 'card-footer-item' %>
      <% else %>
        <%= link_to 'Show', recipe_path(recipe), class: 'card-footer-item' %>
      <% end %>
       <%= link_to 'Edit', edit_recipe_path(recipe), class: 'card-footer-item' %>
    </footer>
  </div>
</div>