<div class="column is-6 is-offset-3">
  <div class="card">
    <header class="card-header-tittle">
      <p class="card-header-title">
        <%= recipe.user.first_name %> - <%= recipe.title %>
        <%= link_to '-> Visit user', user_path(recipe.user), class: 'visit__user' %>
      </p>
    </header>
    <div class="card-content">
      <div class="content">
        <u>
          <div><strong>Description: </strong><%= recipe.description %></div>
          <br>
          <h5>Instructions: </h5>
          <div class="recipe__fields">
            <% recipe.instructions.sort_by(&:order).each do |ins| %>
              <p>
                <%= "#{ins.order}. #{ins.instruction_info}" %>
                <% if logged_in? %>
                  <span class="items_in_parag">
                    <%= link_to 'Edit', edit_recipe_instruction_path(recipe, ins) %>
                    <%= link_to 'Delete', recipe_instruction_path(recipe, ins), method: :delete, data: { confirm: 'Are u sure?' } %>
                  </span>
                <% end %>
              </p>
            <% end %>
          </div>
          <br>
          <h5>Igridients: </h5>
          <div class="recipe__fields">
            <% recipe.ingridients.each do |ing| %>
              <p>
                <%= ing.name %>
                <% if logged_in? %>
                  <span class="items_in_parag">
                    <%= link_to 'Edit', edit_recipe_ingridient_path(recipe, ing) %>
                    <%= link_to 'Delete', recipe_ingridient_path(recipe, ing), method: :delete, data: { confirm: 'Are you sure?' } %>
                  </span>
                <% end %>
              </p>
            <% end %>
          </div>
        </u>
        <br>
        <br>
        <time datetime="2016-1-1"><%= recipe.created_at.strftime("%B %d %Y, %l:%M%P") %></time>
      </div>
    </div>
    <footer class="card-footer">
      <% if local_assigns[:show] %>
        <%= link_to 'Go back', recipes_path, class: 'card-footer-item' %>
        <% if logged_in? %>
          <%= link_to 'Add Ingridient', new_recipe_ingridient_path(recipe), class: 'card-footer-item' %>
          <%= link_to 'Add Instruction', new_recipe_instruction_path(recipe), class: 'card-footer-item' %>
        <% end %>
      <% else %>
        <%= link_to 'Show', recipe_path(recipe), class: 'card-footer-item' %>
      <% end %>
      <% if logged_in? %>
        <%= link_to 'Edit', edit_recipe_path(recipe), class: 'card-footer-item' %>
        <%= link_to 'Delete', recipe_path(recipe), class: 'card-footer-item', method: :delete, data: { confirm: 'Are u sure?' } %>
      <% end %>
    </footer>
  </div>
</div>