<!DOCTYPE html>
<html>
  <head>
    <title>CookingApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link href="https://allfont.net/allfont.css?fonts=severina" rel="stylesheet" type="text/css" />
    
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <section class="hero">
      <div class="hero-head is-medium">
        <%= render '/shared/header' %>
      </div>

      <div class="hero-body">
        <div class="container is-fullhd">
          <%= yield %>
        </div>
      </div>
      <div class="hero-foot">
        <%= render '/shared/footer' %>
      </div>
    </section>
  </body>
</html>
