<!DOCTYPE html>
<html>
  <head>
    <title>Cooking Meal</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link href="https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Chilanka&family=Satisfy&display=swap" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap" rel="stylesheet">
    
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <section class="hero">
      <div class="hero-head is-medium">
        <%= render '/shared/header' %>
      </div>

      <div class="hero-body">
        <div class="container is-fullhd">
          <%= yield %>
        </div>
      </div>
      <div class="hero-foot">
        <%= render '/shared/footer' %>
      </div>
    </section>
  </body>
</html>
